# dependencies
front/node_modules
front/.pnp
front/.pnp.js
api/node_modules

# testing
front/coverage

# production
front/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# stellaris common files
api/assets/stellaris

# Stuff that helps me develop but not related
misc

# env files
api/mail/.env