@import "../../Fonts.css";

#title-glitched {
  animation: glitch 1s linear infinite;
  text-align: left;
  width: 8rem;
  margin: 0 auto 1rem auto;
  font-size: 3rem;
  color: #fff;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

#title-glitched:before,
#title-glitched:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

#title-glitched:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(2px, -2px);
  }
  4%,
  60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

#title-glitched:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.sport {
  /* background: rgb(23, 15, 30) url("./../../assets/background/grain-dark.png"); */
  width: 100vw;
  height: 100vh;
}

.sport-laptop-message-left,
.sport-laptop-message-right {
  display: none;
}

@media only screen and (min-device-width: 700px) {
  .sport {
    background-color: cyan;
    width: 700px;
    height: 200vh;
    margin: 0 auto;
  }
  .sport-laptop-message-left {
    display: inline;
    position: absolute;
    z-index: -1;
    left: 0;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    height: 100vh;
    font-size: 3rem;
    animation: scroll-up 15s linear infinite;
  }

  .sport-laptop-message-right {
    display: inline;
    position: absolute;
    z-index: -1;
    right: 0;
    writing-mode: sideways-lr;
    text-orientation: mixed;
    height: 100vh;
    font-size: 3rem;
    animation: scroll-down 15s linear infinite;
  }
}

@keyframes scroll-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

@keyframes scroll-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(100%);
  }
}

.sports-list {
  /* color: white; */
}
