@import "../../Fonts.css";

.Stellaris {
  background: url("../../assets/background/stellaris.png");
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.Stellaris-shadowed-background {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.Stellaris-content {
  color: white;
  min-height: 100vh;
  position: relative;
  z-index: 3;
}
